{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                <li><a href="{{ baseUrl ~ registerUrl }}">Register a new player</a></li>
                <li><a href="{{ baseUrl ~ playersUrl }}">See all players</a></li>
                <li><a href="{{ baseUrl ~ teamsUrl }}">Manage teams</a></li>
                <li><a href="{{ baseUrl ~ gamesUrl }}">Manage games</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
