{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                <li><a href="{{ url }}">Register a new player</a></li>
                <li>See all players</li>
            </ul>
        </div>
    </div>
{% endblock %}
