{% extends 'default/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                <li><a href="{{ app.request.baseUrl ~ registerUrl }}">Register a new player</a></li>
                <li><a href="{{ app.request.baseUrl ~ playersUrl }}">Manage players</a></li>
                <li><a href="{{ app.request.baseUrl ~ gamesUrl }}">Manage games</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
