{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <ul>
                <li><a href="{{ url }}">Show games</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
